.about-us {
  margin-left: auto;
  margin-right: auto;
}
.about-us__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-first;
  margin-bottom: 10px;
  // text-align: left;
  text-align: center;
}
.about-us__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-second;
  margin: 0;
}

.about-us__list {
  // display: flex;
  // justify-content: space-between;
}

.about-us__item {
  // margin-right: 30px;
  // margin-bottom: 0;
  margin-bottom: 30px;
  &:last-child {
    margin: 0;
  }
}

.about-us__icon {
  // padding: 25px 100px;
  padding: 25px 190px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  // width: 270px;
  width: 450px;
  &_svg {
    width: 70px;
    height: 70px;
  }
}
