.team {
  background-color: $color-bgfour;
}

.team__list {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.team__item {
  background-color: #fff;
  background-color: $color-bgthird;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $color-first;
  text-align: center;
  margin-bottom: 10px;
}

.team__paragraph {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $color-second;
  text-align: center;
  margin-bottom: 16px;
}

.team__image {
  width: 450px;
  height: 460px;
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.team__image,
.portfolio__image {
  display: block;
}

.social__list {
  &_icon {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.team__group {
  padding: 30px 0 24px 0;
  @media screen and (min-width: 1200px) {
    padding: 30px 0;
  }
}

.team__item_icon,
.footer__item_icon {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  &_icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      background-color: $color-chosen;
    }
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social__link_icon:focus > &,
  .social__link_icon:hover > & {
    fill: $color-bgthird;
  }
}
