$color-first: #212121;
$color-second: #757575;
$color-bgfirst: #2f303a;
$color-bgsecond: #2f303a;
$color-bgthird: #fff;
$color-chosen: #2196f3;
$color-bgfour: #f5f4fa;
$color-third: rgba(255, 255, 255, 0.6);
